<div class="col mb-5">
  <div class="card h-100">
    <!-- Product image-->
    <img class="card-img-top" src="<%= product_presenter[:product_image_url] %> alt="..." />
    <!-- Product details-->
    <%= form_tag(add_to_cart_path) do %>
      <%= hidden_field_tag 'product_id', product_presenter[:id]  %>
      <div class="card-body p-4">
        <div class="text-center">
          <!-- Product name-->
          <h5 class="fw-bolder"><%= product_presenter[:name] %></h5>
          <!-- Product price-->
          <%= product_presenter[:price] %>
        </div>
        <%= select_tag "product_addons", options_for_select(product_presenter[:addons].collect {|addon| [ addon[:name], addon[:id] ] }), class: 'product_addons',multiple: true %>
      </div>
      <!-- Product actions-->

      <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">

        <div class="text-center"><%= submit_tag("Add to cart", class: "btn btn-outline-dark mt-auto add_to_cart_button") %></div>
      </div>
    <% end %>
  </div>
</div>
